SOURCE_CONNECTION_STRING="Server=tcp:source-server.database.windows.net,1433;Database=source-db;Encrypt=yes;TrustServerCertificate=no;Authentication=ActiveDirectoryInteractive"
DEST_CONNECTION_STRING="Server=tcp:dest-server.database.windows.net,1433;Database=dest-db;Encrypt=yes;TrustServerCertificate=no;Authentication=ActiveDirectoryInteractive"

SOURCE_SCHEMA="dbo"
SOURCE_TABLE="LargeSourceTable"
DEST_SCHEMA="dbo"
DEST_TABLE="LargeSourceTable"

CHUNK_COLUMN="Id"
CHUNK_SIZE="1000000"
FETCH_BATCH_SIZE="50000"
BULKCOPY_BATCH_SIZE="50000"
TABLE_MODE="recreate"
WORK_DIR="./work"
DELETE_PARQUET_AFTER_UPLOAD="true"
